.famousPersonHeader {
    color: wheat;
    background-color: #282c34;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2rem 0 2rem 0;
}